

@import './common/reset';
@import './lesshat/lesshat';

// Some reusable basic styles

*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

a {
	text-decoration: none;
}

.pointy {
	cursor: pointer;	
}

// Module styles

@import './components/layout';
@import './components/sidebar';
@import './components/content';
@import './components/custom';
