

@import './common/reset';
@import './lesshat/lesshat';

// Some reusable basic styles

*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

a {
	text-decoration: none;
}

.pointy {
	cursor: pointer;	
}

// Module styles

@import './components/layout';
@import './components/sidebar';
@import './components/content';

/*
@gr-border-col: #a0a0a0;
@curve-color: #ddd;

.bottom {
	bottom: 0;
}

.right {
	right: 0;
}

.lhs {
	float: left;
	min-height: 100%;
	width: 350px;
	background-color: #242424;

	.nav-header {
		height: 208px;
		//background-color: #442255;
		position: relative;
	}

	.gr-wrapper {
		position: relative;
		height: 100%;
		width: 100%;

		div {
			position: absolute;
			overflow: hidden;
			box-sizing: border-box;
		}

		.draw-h {
			width: 61.8%;
			height: 100%;
		}

		.draw-w {
			width: 100%;
			height: 61.8%;
		}

		.cont-h {
			width: 38.2%;
			height: 100%;
		}

		.cont-w {
			width: 100%;
			height: 38.2%;
		}

		.br {
			border-right: 1px solid @gr-border-col;
		}

		.bb {
			border-bottom: 1px solid @gr-border-col;
		}

		.bl {
			border-left: 1px solid @gr-border-col;			
		}

		.bt {
			border-top: 1px solid @gr-border-col;			
		}

		.curve {
			width: 200%;
			height: 200%;
			border-radius: 50%;
			border: 1px solid @gr-border-col;
			background-color: @curve-color;
		}

		.ctr {
			left: -100%;
		}

		.cbr {
			top: -100%;
			left: -100%;
		}

		.cbl {
			top: -100%;
			right: -100%;			
		}
	}

	.main-title {
		color: #fff;
		font-family: "Open Sans", Helvetica, Arial, sans-serif;
		font-weight: 600;
		font-size: 1.125em;
		line-height: 1.375em;

		margin-left: 20px;

	}
}

a {
	color: #ef4f47;
	text-decoration: none;
}

.pic-content {
	width: 100%;
	height: 250px;
	overflow: hidden;
	background-size: 100% auto;
}

.rhs {
	float: left;
	//overflow: scroll;
	height: 100%;
	//width: 100%;

	background-color: #fafaf9;

	.content {
		max-width: 700px;
		padding: 20px;
		margin-left: 100px;

		h1 {
			font-family: 'Open Sans Condensed', sans-serif;
			text-transform: uppercase;
			line-height: 1;			
			font-size: 2.6em;
			font-weight: bold;
			color: #111111;
		}

		p {
			font-family: 'Georgia', Georgia, Times, serif;
			font-size: 1.1em;
			line-height: 1.5em;
			font-weight: normal;
		}

		.boxed-title {
			font-family: 'Arial';
		}
	}
}

*/

